.container {
    width: 100vw;
}

table {
    background-color: khaki;
    width: 100vw;
    height: auto;
}

tr {
    height: 10vh;
}

td {
    width: 10vw;
    height: 10vw;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.redpiece {
    display: flex;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

.blackpiece {
    display: flex;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}
